/FileSystemClassLoader.class
/FoldDocHandler.class
/GlyphPainter1.class
/GlyphPainter2.class
/SegmentCache$CachedSegment.class
/SegmentCache.class
/SimpleClassLoader.class
/TextUtils.class
/SimpleClassLoader$1.class
